

$icon-alarm: "\EA01" !default;

$icon-arrow: "\EA02" !default;

$icon-creat: "\EA03" !default;

$icon-css: "\EA04" !default;

$icon-digit: "\EA05" !default;

$icon-drbbbl: "\EA06" !default;

$icon-equal: "\EA07" !default;

$icon-fb: "\EA08" !default;

$icon-gooogle: "\EA09" !default;

$icon-inst: "\EA0A" !default;

$icon-left-arrow: "\EA0B" !default;

$icon-magnif: "\EA0C" !default;

$icon-photo: "\EA0D" !default;

$icon-pint: "\EA0E" !default;

$icon-right-arrow: "\EA0F" !default;

$icon-seo2: "\EA10" !default;

$icon-shopp: "\EA11" !default;

$icon-tmblr: "\EA12" !default;

$icon-twitt: "\EA13" !default;

$icon-users: "\EA14" !default;

$icon-web-des: "\EA15" !default;

$icon-webdsgn: "\EA16" !default;

$icon-youtb: "\EA17" !default;