

$icon-drbbbl: "\EA01" !default;

$icon-fb: "\EA02" !default;

$icon-gooogle: "\EA03" !default;

$icon-inst: "\EA04" !default;

$icon-magnif: "\EA05" !default;

$icon-pint: "\EA06" !default;

$icon-shopp: "\EA07" !default;

$icon-tmblr: "\EA08" !default;

$icon-twitt: "\EA09" !default;

$icon-youtb: "\EA0A" !default;