@import 'base/normalize';
@import 'base/variables';
@import 'base/placeholders';
@import 'base/keyframes';
@import 'base/media.scss'; 
@import 'icons/iconfont__variables';
@import 'icons/iconfont__icons';



// Base Style

@import "base/_variables";
@import "base/placeholders";



@import url('https://fonts.googleapis.com/css?family=Kaushan+Script|Montserrat:400,600,700,800,900|Roboto');

/*

    font-family: 'Montserrat', sans-serif;
    font-family: 'Roboto', sans-serif;
    font-family: 'Kaushan Script', cursive;


*/

html {font-size: 62.5%;}

body {font-family: $primary_font;}

a {text-decoration: none;}

a:hover {text-decoration: none;}

ul, li {
  list-style: none;
  margin: 0;
  padding: 0;
}

.container {
  max-width: 1230px;
  margin: 0 auto;
 
} 

.header  {
  @extend %rel-hor-align;
  color: white;
  padding-top: 2rem;
  font-family: $primary_font;
  z-index: 100;
  width: 1200px;
  margin: 0 auto;

}

.header-logo {
  font-size: 3rem;
  font-weight: 800;
  letter-spacing: -0.1rem;
  color: #fff;
}

.header__item-box {
  @extend %flex;
  padding-top: 1.3rem;
  
}

.header__items {
  @extend %flex-space-beetw;
}

.item-box__nav {
  padding:  {
    top: 0.5rem;
    right: 3.2rem;
    
  }
}

.nav__list {
  @extend %flex; 
  
}

.item__link, 
.icon--shopp,
.icon--magnif {
  text-transform: uppercase;
  @extend %transition;
  font-size: 1.4rem;
  color: white;
  
      &:hover {
        color: $link-hover;
        
      }
}



.item__link:after {
  @extend %transition;
  content: '';
  display: block;
  margin-top: 0.5rem;
  height: 0.3rem;
  width: 0;
  background: $link-hover;
  
}

.item__link:hover:after {
  width: 100%;
}

.list__item {
  padding: { 
    right: 2.7rem;
    left: 2.7rem;

  }
}

.item-box__shopp {
  padding-right: 4.8rem;

}

.icon--shopp,
.icon--magnif {
  font-size: 1.6rem;
}

.item-box__magnif {
  padding-right: 0.3rem;
}

.magnif__search {
  display: none;
}




//----------section0---------------//


.section0 {
  background-image: url(../img/main_bg.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  position: relative;

}

.section0:before {
  content: '';
  background: linear-gradient(to bottom, rgba(239, 139, 138, .9) 0%, rgba(228, 215, 135, .9) 100%);
  position: absolute;
  height: 100%;
  width: 100%;  
}

.main-carousel {
  text-align: center;
  color: #fff;

}

.main-subtitle {
  margin-top: 21.5rem;
  font-size: 7.2rem;
  font-family: 'Kaushan Script',sans-serif;
}

.main-title {
  @extend %font-monts;
  text-transform: uppercase;
  font-size: 15rem;
  font-weight: 800;
  line-height: .9;
  letter-spacing: -0.5rem;
  padding: {
    top: 2.5rem;
    bottom: 2.5rem;
    left: 2.5rem;
  }
}

.divider {
  width: 6rem;
  height: 0.3rem;
  background-color: #fff;
  margin-top: 3.8rem;
}

.carousel-item__btn {
  margin: {
    top: 5.2rem;
    bottom: 22.1rem;
  }
}

.btn {
  color: #fff;
  text-transform: uppercase;
        &--crsl {
          padding: 0.5em 2.2em;
          font-size: 1.4rem;
          font-weight: 700;
          border: 3px solid #fff;
         
                &:hover {
                  color: $link-hover;
                  border: 3px solid $link-hover;

                }
        }
}



  .carousel-indicators {
   text-transform: uppercase;
   margin: 0 auto;
   bottom: 6rem; 

  }
  

  .carousel-indicators li {
    position: relative;
    background-color: rgba(255,255,255,.5);
    margin: 0 0 1.5rem 0;
    width: 100%;
    max-width: 100%;
   
  }

  .active li:before {
    content: "";
    position: absolute;
    top: 0px;
    left: 0;
    width: 0;
    height: 0.3rem;
    background: rgba(243,129,129,0.3);
    animation: width 5s ease;
   
  }

  .indicators__link {
    @extend %font-monts;
    width: 23.5%;
    height: 0.3rem;
    font-size: 1.8rem;
    margin: 0 0.5rem;
    cursor: pointer;
    text-align: left;
  }  

  .indicators__link span {
    font-weight: 700;
    font-size: 2.4rem;
    
  }

  .section-box {
    padding: 9.7rem 0 11rem;
  }

  .heading-box {
    text-align: center;
    color: $heading-color;
    margin-bottom: 4.6rem;
  }

  .main-heading {
    font-size: 2.4rem;
    font-family: 'Kaushan Script',sans-serif;
    margin-bottom: 0.4rem;
  }

  .subheading {
    font-size: 3rem;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: -1px;
    
  }

  .paragraph {
    @extend %font-roboto;
    text-align: center;
    color: #999;
    font-size: 1.5rem;
    width: 80%;
    margin: 0 auto;
          &-box {
            margin-bottom: 10rem;
          }
           &-accordion-box {
            margin-bottom: 9rem;
           } 

  }

  .divider--red {
    background-color: #f38181;
    border: none;
    margin-top: 2.8rem;
  }


  .story__wrap {
    @extend %flex-space-arounr;
  }


.story__item-box {
  @extend %transition;
  position: relative;
  transition: 0.2s linear;
          &:after {
          content: '';
          position: absolute;
          top: 0;
          left: 0;
          bottom: 0;
          right: 0;
          background: linear-gradient(to bottom, rgba(239, 139, 138, .9) 0%, rgba(228, 215, 135, .9) 100%);
          opacity: 0;
          cursor: pointer;
          }
          &:hover {
              box-shadow: 10px 10px $light-blue;   
              transform: translate(-10px, -10px);
                &:after {
                  opacity: 1;
              }
          } 
}                   
          
         



.addinf__text, .icon--users {
  @extend %transition;
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: 5;
  transform: translate(-50%, -50%);
  text-transform: uppercase;
  font-weight: bold;
  font-size: 1.8rem;
  color: #fff;
  opacity: 0;
}

.icon--users {
  font-size: 2rem;
  top: 40%;

}

.story__item-box:hover .addinf__text,
.story__item-box:hover .icon--users {
  opacity: 1;
}

.picture-item__addinf:hover .icon--users,
.picture-item__addinf:hover .addinf__text
 {
  color: #95e1d3;
}


.item__img {
  width: 100%;
}




.data {
  color: #fff;
  background: $light-blue;     
                &-item {
                  float: left;
                  width: 20%;
                  text-align: center;
                  padding-top: 6.3rem;
                  padding-bottom: 8rem;
                  text-transform: uppercase;
                  border-left: 1px solid #b5eae0;
                      & span {
                        font-size: $font-size-secondary;
                      }
                      &:last-child {
                        border-right: 1px solid #b5eae0
                      }
                }
}


.number {
    font-size: 7.2rem;
    font-weight: 700;
}

.services {
  padding:{
    left: 4rem;
    top: 0px;
    bottom: 4rem;
  }
}

.service__item {
  margin-top: 4.8rem;
}


.service-box {
  padding-top: 10rem;
  padding-bottom: 3.5rem;
}

.service__item-icon  {
  float: left;
  font-size: 3rem;
  color: $light-blue;
}

.service__item-text {
  margin-left: 5rem;
  margin-bottom: 5rem;
}

.item-text__heading {
  text-transform: uppercase;
  font-weight: 600;
  font-size: $font-size-secondary;
          &--accord {
            padding: 0;
            margin: 0;

          }
}

.item-text__p, %ordin-text-style {
  font-family: $secondary_font;
  font-size: $font-size-base;
  color: #999;
  padding-top: 6px;

}


.service__item:nth-child(-n + 3):after{
  content: '';
  position: absolute;
  width: 100%;
  height: 1px;
  background: #e5e5e5;
  margin-bottom: 5rem;
}



.heading-box-service {
  margin-top: 0.4rem;
  margin-bottom: 1.5rem;
}




.design {
  background-image: url(../img/section4_bg.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  padding-top: 10.5rem;
        &__img-block {
          position: relative;
        }

  
}

.img-block__tablet {
  position: relative;
  left:50%;
  transform: translateX(-55%);

}

.img-block__phone {
  position: absolute;
  bottom: -10%;
  left:60%;
  
}

.duties-box {
  padding-top: 16.7rem;
}

.card {
  border-bottom: 0;
  margin-bottom: 10px; 
        &-header {
          background: transparent;
          padding: .7rem 1.25rem;
        } 
        &-block {
          font-size: 1.5rem;
          line-height: 1.6;
          font-style: italic;
        }
}

.show {
  border-bottom: 1px solid rgba(0,0,0,.125);
}



.text__heading-link {
  @extend %transition;
  @extend %flex-vert-center;
  position: relative;
  margin-left: 1rem;
  letter-spacing: -0.5px;
  color: $heading-color;
                  
          &:hover {
            color: $light-blue;

                &:after {
                   color: $light-blue;
                }
          }

          &:after {
            position: absolute;
            content: '\EA02';
            font-family: "social";
            font-size: 1rem;
            right: 4%;
            top:50%;
            color: #ccc;
            transform:matrix(-1.00,0.00,-0.00,-1.00,0,-7);
                           
          }  
        
}

.text__heading-link.collapsed:after {
  transform: rotate(0deg);
}



.item-text__heading .icon {
  font-size: 3rem;
  margin-right: 0.65em;
  color: $light-blue;
} 

.accordion-box {
  margin-bottom: 6.2rem;
  
}


.accodion-scroll {
  @extend  %ordin-text-style;
  overflow: auto;
  height: 13rem;
  margin: 1.5rem 3rem 2rem 1.5rem;
  padding: 0 6px;
      &::-webkit-scrollbar {
        width: 0.5rem;
      }
      &::-webkit-scrollbar-thumb {
        margin-top: 0.7rem;
        margin-left: 25px;
        border-radius: 0.2rem;
        -webkit-box-shadow: inset 1rem 0 0 rgba(149,225,211,1); 
      }
     
}


.img-responsive {
  max-width: 100%; 
  height: auto; 
  display:block;
}



.gray-bg {
  background: $gray-bg;
  padding: 100px 0;
}

.carousel-page {
  width: 80%;
  margin: 0 auto;
}

.carousel-wrapper {
  position: relative;
}

.carousel-wrapper .icon {
  font-size: 20px;
  color: #ccc;

}

.carousel-page__img {
  border: 3px solid $light-blue;
  padding: 40px;
  margin-right: 60px;
  float: left;
}

.carousel-page__blcquote {
  font-family: Roboto,sans-serif;
    font-size: 24px;
    font-style: italic;
    color: #999;
}

.carousel-page__author {
    color: #333;
    font-size: 24px;
    font-family: 'Kaushan Script',sans-serif;
}

.carousel-page__author:before {
    content: "";
    display: block;
    float: left;
    width: 60px;
    height: 3px;
    background-color: red;
    margin: 15px 15px 15px 0;
}



